.header {
    background: black;
    color: #ffffff;
    padding: 20px;
}

.header {
    align-items: center;
    display: flex;
    font-size: 24px;
    padding: 10px;
}

.header a {
    color: #10aec5;
    margin: 10px;
    padding: 10px;
}

.header a:hover{
    color: chartreuse;
}
