.form__label {
    font-weight: bold;
    color: white;
}

.form__input {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: black;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}
